<!DOCTYPE html>
<html  lang = "en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
Future fight!
</title>

<link rel='shortcut icon' type='image/x-icon' href='../public/foto/background.jpeg' />
<link rel = "stylesheet" type = "text/css" href = "../public/css/blank.css">


</head>

<body>
        <div id = "corp">
            <div class = "gol">

            </div>
            <div id = "Eroarea">
                <br>
                <br>
                <br>
                <img src = "../public/foto/404.png" alt = "eroarea" id = "poza">
                <br><br><br><br>
                <div id = "centrare">
                    <div id = "link">
                        <a href = "index.html">
                            Go home
                        </a>
                    </div>
                </div>
                     </div>
            <div class = "gol">

            </div>
    </div>
    <script src = "../public/javascript/index.js">
    </script>
    <script src = "../public/javascript/darkModeFor404.js"></script>
</body>
</html>