<!DOCTYPE html>
<html  lang = "en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
Future fight!
</title>

<link rel='shortcut icon' type='image/x-icon' href='../public/foto/background.jpeg' />
<link rel = "stylesheet" type = "text/css" href = "../public/css/com.css">


</head>

<body>
        <div id = "corp">
            <div class = "gol">

            </div>
            <div id = "Eroarea">
                <br>
                <br>
                <br>
                <div id = "deCompletat">
                    <br>
                    <div class = "mij">
                        <div id = "c1">
                            Comentarii
                        </div>
                    </div>
                    <br>
                    <div class = "mij">
                        <div class = "centru">
                        <button id = "ascundCom" class = "butoanele">Ascunde</button>
                        </div>
                    <div id = "comentariile">
                        <b>Niciun comentaiu!</b>
                    </div>
                    <div class = "centru">
                    <button id = "afisezCom" class = "butoanele">Afiseaza</button>
                    </div>
                    </div>
                    <br>
                </div>
                <br>
                <br>
                <div id = "lasaCom">
                    <input type = "text" placeholder="comentarii" id = "text">  &nbsp; &nbsp;
                    <button id = "incarca">Incarca</button>
                </div>
                <br>
                <br>
                <br>
                <div id = "centrare">
                    <div id = "link">
                        <a href = "index.html">
                            Go home
                        </a>
                    </div>
                </div>
                     </div>
            <div class = "gol">

            </div>
    </div>
    <script src = "../public/javascript/index.js">
    </script>
    <script src="../public/javascript/com.js"></script>
</body>
</html>