<!DOCTYPE html>
<html  lang = "en">

<head>
<meta charset="utf-8"/>
<title>
Future fight!
</title>

<link rel = "stylesheet" type = "text/css" href = "../public/css/game.css">
<link rel='shortcut icon' type='image/x-icon' href='../public/foto/background.jpeg' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div id = "corp">
        <div id = "wingame"> 
            <div id = "fromular">
                <span>
                    LOGIN
                </span>
                <hr>
                <input class = "but" type = "email" placeholder="mail" id = "mail" >
                <input class = "but" type = "password" placeholder="parola" id = "parola">
                <hr class = "deDisparut">
                <div>
                     <button class = "but" id = "submit">login</button>
                </div>
                <hr class = "deDisparut">
            </div>
            <div id = "homeLink">
                <a href= "index.html">
                    HOME
                </a>
            </div>
            <button id = "replay">replay</button>
            <div id = "life"></div>
            <img id = "spatele" alt = "spatele" src = "../public/foto/background.png">
            <img id = "hero" alt="erou" src = "../public/foto/R1.png">
            <audio src = "../public/piesa.mp3" controls id = "audioElement"></audio>
        </div>
                

    </div>
    <script src="../node_modules/sweetalert2/dist/sweetalert2.all.min.js">
    </script>

    <script src = "../public/javascript/general.js">

    </script>
    <script src = "../public/javascript/hero.js">

    </script>
    <script src = "../public/javascript/enemy.js">

    </script>

    <script src = "../public/javascript/gameplay.js">
    </script>

    <script src = "../public/javascript/login.js">        
    </script>

</body>
</html>