<!DOCTYPE html>
<html  lang = "en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
Future fight!
</title>

<link rel = "stylesheet" type = "text/css" href = "../public/css/index.css">
<link rel='shortcut icon' type='image/x-icon' href='../public/foto/background.jpeg' />

</head>

<body>
        <div id = "corp">
            <div class = "gol">

            </div>
            <div id = "meniu">
                <div class = "men">
                    <a href = "singup.html">
                        Inregistrare
                    </a>
                 </div>
                    <div class = "men">
                        <a href = "login.html">
                            Update cont
                        </a>
                     </div>
                    <div class = "men">
                        <a href = "game.html">
                            Joc
                        </a>
                     </div>
                </div>
            <div class = "gol">

            </div>
    </div>
    <script src = "../public/javascript/index.js">
    </script>
    <script src = "../public/javascript/loginORunlogin.js">
    </script>
    <script src="../public/javascript/darkModeHomeImndex.js">
    </script>
</body>
</html>