<!DOCTYPE html>
<html  lang = "en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
Future fight!
</title>

<link rel = "stylesheet" type = "text/css" href = "../public/css/login.css">
<link rel='shortcut icon' type='image/x-icon' href='../public/foto/background.jpeg' />

</head>

<body>
        <div id = "corp">
            <div class = "gol">

            </div>
            
            <div id = "logare">
                <br>
                <div id = "textIntroductiv">
                    <br>
                    Schimba informatii despre contul tau
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <div id = "cele2butoane">
                    <div class = "buton">
                        <img src= "../public/foto/email.png" class = "poza" alt = "mail"> &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class = "stilizare">
                        <input type = "email" placeholder= "Mail-ul" class = "input" id = "mail">
                        </div>
                    </div>
                    <br>
                    <div class = "buton">
                        <img src= "../public/foto/parola.png" class = "poza" alt = "parola"> &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class = "stilizare">
                        <input type = "password" placeholder= "Parola" class = "input" id = "parola">
                        </div>
                    </div>
                    <br>
                    <div class = "buton">
                        <img src= "../public/foto/parola.png" class = "poza" alt = "parola"> &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class = "stilizare">
                        <input type = "password" placeholder= "Confirm parola" class = "input" id = "parola1">
                        </div>
                    </div>
                    <br>
                    <div class = "buton">
                        <img src= "../public/foto/parola.png" class = "poza" alt = "parola"> &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class = "stilizare">
                        <input type = "password" placeholder= "Parola noua" class = "input" id = "parola2">
                        </div>
                    </div>
                    <br>
                    <div class = "buton">
                        <img src= "../public/foto/email.png" class = "poza" alt = "mail`"> &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class = "stilizare">
                        <input type = "email" placeholder= "Mail nou" class = "input" id = "mail1">
                        </div>
                    </div>
                    <br>
                    <div class = "buton">
                        <img src= "../public/foto/name.png" class = "poza" alt = "nickname`"> &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class = "stilizare">
                        <input type = "text" placeholder= "Nickname nou" class = "input" id = "nickname">
                        </div>
                    </div>
                    <br>
                    <div id = "stil">
                        <div id = "incarc" class = "submit">
                            <button id  = "butonulSubmit">Schimba</button>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div id = "sterg" class = "submit">
                            <button id  = "butonulSterge">Sterge</button>
                        </div>
                    </div>
                </div>
                    <br>
                    <br>
                    <div class = "linkuri">
                        <div class = "nimic">
                        </div>
                        <div id = "catrePagini">
                            <div class = "catre">
                                <a href = "index.html">
                                    Acasa
                                </a>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class = "catre">
                                <a href = "game.html">
                                    Game
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class = "gol">

            </div>
    </div>
    <script src = "../public/javascript/index.js">
    </script>
    <script src = "../public/javascript/schimbaCont.js"></script>
    <script src="../public/javascript/darkModLogin.js"></script>
</body>
</html>