<!DOCTYPE html>
<html  lang = "en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
Future fight!
</title>

<link rel='shortcut icon' type='image/x-icon' href='../public/foto/background.jpeg' />
<link rel = "stylesheet" type = "text/css" href = "../public/css/quiz.css">


</head>

<body>
    <div id = "corp">
            <div class = "gol"></div>

            <div id = "quiz">
                <br>
                <div class = "titlu">
                <h1>Esti gata sa- ti testezi cunostiintele despre jocul meu?</h1>
                </div>
                <div id = content>
                <ol id = "chestionar">

                </ol>
                <div id = "score"></div>
                </div>
                <div id = "de">
                <div class = "titlu" id = "animatie">
                    <a href= "index.html">
                        Acasa
                    </a>
                </div>
                </div>
            </div>


            <div class = "gol"></div>
                
    </div>
    <script src = "../public/javascript/index.js">
    </script>
    <script src = "../public/javascript/quiz.js">
    </script>
    </body>
</html>