<!DOCTYPE html>
<html  lang = "en">

<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
Future fight!
</title>

<link rel='shortcut icon' type='image/x-icon' href='../public/foto/background.jpeg' />
<link rel = "stylesheet" type = "text/css" href = "../public/css/singup.css">


</head>

<body>
        <div id = "corp">
            <div class = "gol">

            </div>
            <div id = "singup">
                <h1>
                    Intra in lumea jocului!
                </h1>
                <div id = "newPlayer">
                    <div class = "element">
                        <img alt = "mail" src = "../public/foto/email.png" class = "poza">
                        &nbsp;&nbsp;&nbsp;
                        <div class = "inputul">
                            <input type= "email" placeholder="mail" id = "mail">
                        </div>
                    </div>
                    <br>
                    <div class = "element">
                        <img alt = "nickname" src = "../public/foto/name.png" class = "poza">
                        &nbsp;&nbsp;&nbsp;
                        <div class = "inputul">
                            <input type= "text" placeholder="nickname" id = "nickname">
                        </div>
                    </div>
                    <br>
                    <div class = "element">
                        <img alt = "password" src = "../public/foto/parola.png" class = "poza">
                        &nbsp;&nbsp;&nbsp;
                        <div class = "inputul">
                            <input type= "password" placeholder="parola" id = "parola">
                        </div>
                    </div>
                    <br>
                    <div class = "element">
                        <img alt = "age" src = "../public/foto/age.png" class = "poza">
                        &nbsp;&nbsp;&nbsp;
                        <div class = "inputul">
                            <input type= "number" min = "2" max = "70" id = "age">
                        </div>
                    </div>
                    <br>
                    <div id = "asimplequestion">
                        <div class = "elementele">
                            <div class = "statement">
                                <div>
                                    Cat de des te joci?
                                </div>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class = "questions" id = "rad">
                                <label><input type = "radio" name = "a">Rar</label> <br>
                                <label><input type = "radio" name = "a">Moderat</label> <br>
                                <label><input type = "radio" name = "a">Des</label> <br>
                                <label><input type = "radio" name = "a">Foarte des</label> 
                            </div>
                        </div>
                        <div>
                        <br><br><br>
                        </div>
                        <div class = "elementele">
                            <div class = "statement">
                                <div>
                                    Ce tipuri de joc iti plac?
                                </div>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class = "questions" id = "check">
                                <label><input type = "checkbox" >RPG</label> <br>
                                <label><input type = "checkbox">RTS</label> <br>
                                <label><input type = "checkbox">Strategy</label> <br>
                                <label><input type = "checkbox" >Simulator</label> <br>
                                <label><input type = "checkbox">Sport</label> <br>
                                <label><input type = "checkbox">Racing</label> <br>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br><br><br>
                    </div>
                    <div id = "butoanele">
                        <input type = "reset" id = "reset" value = "reset" class = "but">&nbsp;&nbsp;&nbsp;
                        <input type = "submit" id = "submit" value = "creaza" class = "but">&nbsp;&nbsp;&nbsp;
                        <div id = "home">
                            <a href = "index.html">
                                HOME
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <div class = "gol">

            </div>

    </div>
    <script src="../node_modules/sweetalert2/dist/sweetalert2.all.min.js">
    </script>
    <script src="../public/javascript/singup.js">
    </script>
    <script src="../public/javascript/darkModeForCreate.js"></script>
</body>
</html>